<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Saisie des livres</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"/>
	
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}"/>
</head>
<body layout:fragment="content">
<form th:action="@{saveLivre}" method="post"  enctype="multipart/form-data">

<div class="col-md-3 col-sm-3 col-xs-12">
	<div class="panel panel-default ">
	<div class="panel-heading">Saisie d'un livre</div>
	<div class="panel-body">
	<div class="form-group required">
			<label class="control-label requiredFiel">Sku:</label>
			<input type="text" th:field="*{liv.sku}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.sku}"></span>
		</div>
		<div class="form-group required">
			<label class="control-label">Titre:</label>
			<input type="text" th:field="*{liv.titre}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.titre}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Editeur:</label>
			<input type="text" th:field="*{liv.editeur}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.editeur}"></span>	
		</div>
		<div class="form-group">
			<label class="control-label">Description:</label>
			<input type="text" th:field="*{liv.description}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.description}"></span>
		</div>
		<div class="form-group required">
			<label class="control-label">Auteur:</label>
			<input type="text" th:field="*{liv.auteur}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.auteur}"></span>
		</div>
		<div class="form-group required">
			<label class="control-label">Annee:</label>
			<input type="text" th:field="*{liv.annee}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.annee}"></span>	
		</div>
				<div class="form-group required">
			<label class="control-label">Prix:</label>
			<input type="text" th:field="*{liv.prix}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.prix}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Condition:</label>
			<input type="text" th:field="*{liv.conditions}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.conditions}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Illustrateur:</label>
			<input type="text" th:field="*{liv.illustrateur}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.illustrateur}"></span>	
		</div>
		<div class="form-group">
			<label class="control-label">Mot cle:</label>
			<input type="text" th:field="*{liv.motCle}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.motCle}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Observation:</label>
			<input type="text" th:field="*{liv.observation}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.observation}"></span>
		</div>
		<div class="form-group required">
			<label class="control-label">Quantite:</label>
			<input type="text" th:field="*{liv.quantite}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.quantite}"></span>	
		</div>
				<div class="form-group">
			<label class="control-label">Photo:</label>
			<input type="file" name="liv.urlPic" class="form-control"/>		
		</div>
	</div>
	</div>
	</div>
	<div>

	</div>
	
	
<!-- <div th:if="${liv.class.simpleName == 'AmazBook'}"> -->
<div class="col-md-3 col-sm-3 col-xs-12">
	<div class="panel panel-default ">
	<div class="panel-heading">Amazon</div>
	<div class="panel-body">
		<div class="form-group required">
			<label class="control-label requiredFiel">ID Produit:</label>
			<input type="text" th:field="*{liv.external_product_id}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.external_product_id}"></span>
		</div>
		<div class="form-group required">
			<label class="control-label">Type ID Produit:</label>
			<input type="text" th:field="*{liv.external_product_id_type}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.external_product_id_type}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Reliure:</label>
			<select  th:field="*{liv.binding}" class="form-control">
				<option value="	Accessory	">	Accessory	</option>
<option value="	Album	">	Album	</option>
<option value="	AudioDownload	">	AudioDownload	</option>
<option value="	BathBook	">	BathBook	</option>
<option value="	BoardBook	">	BoardBook	</option>
<option value="	BondedLeather	">	BondedLeather	</option>
<option value="	Calendar	">	Calendar	</option>
<option value="	CardBook	">	CardBook	</option>
<option value="	Cards	">	Cards	</option>
<option value="	Cassette	">	Cassette	</option>
<option value="	Cd Rom	">	Cd Rom	</option>
<option value="	Comic	">	Comic	</option>
<option value="	DVDRom	">	DVDRom	</option>
<option value="	Diary	">	Diary	</option>
<option value="	Flexibound	">	Flexibound	</option>
<option value="	FoamBook	">	FoamBook	</option>
<option value="	Game	">	Game	</option>
<option value="	Hardcover	">	Hardcover	</option>
<option value="	HardcoverComic	">	HardcoverComic	</option>
<option value="	HardcoverSpiral	">	HardcoverSpiral	</option>
<option value="	ImitationLeather	">	ImitationLeather	</option>
<option value="	Journal	">	Journal	</option>
<option value="	KindleEdition	">	KindleEdition	</option>
<option value="	LeatherBound	">	LeatherBound	</option>
<option value="	Library	">	Library	</option>
<option value="	LibraryAudioCD	">	LibraryAudioCD	</option>
<option value="	LibraryAudioMp3	">	LibraryAudioMp3	</option>
<option value="	LooseLeaf	">	LooseLeaf	</option>
<option value="	Map	">	Map	</option>
<option value="	MassMarket	">	MassMarket	</option>
<option value="	Microfiche	">	Microfiche	</option>
<option value="	Microfilm	">	Microfilm	</option>
<option value="	MiscSupplies	">	MiscSupplies	</option>
<option value="	Mook	">	Mook	</option>
<option value="	Mp3CD	">	Mp3CD	</option>
<option value="	Pamphlet	">	Pamphlet	</option>
<option value="	Paperback	">	Paperback	</option>
<option value="	PaperbackBunko	">	PaperbackBunko	</option>
<option value="	PaperbackShinsho	">	PaperbackShinsho	</option>
<option value="	Perfect	">	Perfect	</option>
<option value="	PlasticComb	">	PlasticComb	</option>
<option value="	PreloadedDigitalAudioPlayer	">	PreloadedDigitalAudioPlayer	</option>
<option value="	RagBook	">	RagBook	</option>
<option value="	RingBound	">	RingBound	</option>
<option value="	Rough Cut	">	Rough Cut	</option>
<option value="	School	">	School	</option>
<option value="	SingleIssueMagazine	">	SingleIssueMagazine	</option>
<option value="	Slide	">	Slide	</option>
<option value="	SpiralBound	">	SpiralBound	</option>
<option value="	Stationery	">	Stationery	</option>
<option value="	TankobonHardcover	">	TankobonHardcover	</option>
<option value="	TankobonSoftcover	">	TankobonSoftcover	</option>
<option value="	Textbook	">	Textbook	</option>
<option value="	Toy	">	Toy	</option>
<option value="	Transparency	">	Transparency	</option>
<option value="	Turtleback	">	Turtleback	</option>
<option value="	Unbound	">	Unbound	</option>
<option value="	VinylBound	">	VinylBound	</option>
<option value="	WallChart	">	WallChart	</option>
<option value="	Workbook	">	Workbook	</option>
<option value="	audiocd	">	audiocd	</option>
<option value="	pop-up	">	pop-up	</option>
			
			
			</select>
			<span class="text-danger" th:errors="*{liv.binding}"></span>	
		</div>
		<div class="form-group">
			<label class="control-label">Edition:</label>
			<input type="text" th:field="*{liv.edition}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.edition}"></span>
		</div>
		<div class="form-group required">
			<label class="control-label">Note sur la Condition:</label>
			<!-- <input type="text" th:field="*{liv.condition_note}" class="form-control"/> -->
			<select th:field="*{liv.condition_note}" class="form-control">
			<option value="	D'occasionBonétat	">	D'occasionBonétat	</option>
<option value="	D'occasionCommeNeuf	">	D'occasionCommeNeuf	</option>
<option value="	D'occasionTrèsBonétat	">	D'occasionTrèsBonétat	</option>
<option value="	D'occasionétatCorrect	">	D'occasionétatCorrect	</option>
<option value="	DeCollectionBonétat	">	DeCollectionBonétat	</option>
<option value="	DeCollectionCommeNeuf	">	DeCollectionCommeNeuf	</option>
<option value="	DeCollectionTrèsBonétat	">	DeCollectionTrèsBonétat	</option>
<option value="	DeCollectionétatCorrect	">	DeCollectionétatCorrect	</option>
<option value="	Neuf	">	Neuf	</option>
<option value="	Rénové	">	Rénové	</option>
			
			
			
			</select>
			<span class="text-danger" th:errors="*{liv.condition_note}"></span>
		</div>
		<div class="form-group required">
			<label class="control-label">Expedition du Colis:</label>
		<select th:field="*{liv.will_ship_internationally}" class="form-control">
				<option value="	15	">	15	</option>
				<option value="	N	">	N	</option>
			</select>
			<span class="text-danger" th:errors="*{liv.expedited_shipping}"></span>	
		</div>
				<div class="form-group required">
			<label class="control-label">Destiné a l'international:</label>
		<select th:field="*{liv.will_ship_internationally}" class="form-control">
			<option value="	15	">	15	</option>
<option value="	16	">	16	</option>
<option value="	17	">	17	</option>
<option value="	18	">	18	</option>
<option value="	19	">	19	</option>
<option value="	N	">	N	</option>
			
			
			
			</select>
			<span class="text-danger" th:errors="*{liv.will_ship_internationally}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Nom du groupe du transporteur:</label>
			<input type="text" th:field="*{liv.merchant_shipping_group_name}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.merchant_shipping_group_name}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Langue:</label>
geforce 1070ti
9			<select th:field="*{liv.langage}" class="form-control">
			<option value="	Abkhazie	">	Abkhazie	</option>
<option value="	Adygei	">	Adygei	</option>
<option value="	Afrikaans	">	Afrikaans	</option>
<option value="	Albanais	">	Albanais	</option>
<option value="	Allemand	">	Allemand	</option>
<option value="	Alsacien	">	Alsacien	</option>
<option value="	Alsacien	">	Alsacien	</option>
<option value="	AncientGreek	">	AncientGreek	</option>
<option value="	Anglais	">	Anglais	</option>
<option value="	Arabe	">	Arabe	</option>
<option value="	Araméen	">	Araméen	</option>
<option value="	Arménien	">	Arménien	</option>
<option value="	Assamais	">	Assamais	</option>
<option value="	Assyrien	">	Assyrien	</option>
<option value="	Au loin	">	Au loin	</option>
<option value="	Austronésienne	">	Austronésienne	</option>
<option value="	Awadhi	">	Awadhi	</option>
<option value="	Aymara	">	Aymara	</option>
<option value="	Azerbaïdjanais	">	Azerbaïdjanais	</option>
<option value="	Bali	">	Bali	</option>
<option value="	Bambara	">	Bambara	</option>
<option value="	Bantu	">	Bantu	</option>
<option value="	Bashkir	">	Bashkir	</option>
<option value="	Basque	">	Basque	</option>
<option value="	Batak	">	Batak	</option>
<option value="	Bengali	">	Bengali	</option>
<option value="	Berbère	">	Berbère	</option>
<option value="	Bhojpuri	">	Bhojpuri	</option>
<option value="	Bhutani	">	Bhutani	</option>
<option value="	Bichlamar	">	Bichlamar	</option>
<option value="	Bihari	">	Bihari	</option>
<option value="	Birman	">	Birman	</option>
<option value="	Biélorussie	">	Biélorussie	</option>
<option value="	Bosniaque	">	Bosniaque	</option>
<option value="	Braj	">	Braj	</option>
<option value="	Breton	">	Breton	</option>
<option value="	Bribri	">	Bribri	</option>
<option value="	Bulgare	">	Bulgare	</option>
<option value="	Buryat	">	Buryat	</option>
<option value="	Cachemire	">	Cachemire	</option>
<option value="	Cambodgien	">	Cambodgien	</option>
<option value="	CantoneseChinese	">	CantoneseChinese	</option>
<option value="	Castillan	">	Castillan	</option>
<option value="	Catalan	">	Catalan	</option>
<option value="	Cayuga	">	Cayuga	</option>
<option value="	Chagatai	">	Chagatai	</option>
<option value="	Charabia	">	Charabia	</option>
<option value="	Cheyenne	">	Cheyenne	</option>
<option value="	Chinois	">	Chinois	</option>
<option value="	Chiricahua	">	Chiricahua	</option>
<option value="	Cinghalais	">	Cinghalais	</option>
<option value="	ClassicalNewari	">	ClassicalNewari	</option>
<option value="	Cornouaillais	">	Cornouaillais	</option>
<option value="	Corse	">	Corse	</option>
<option value="	Coréen	">	Coréen	</option>
<option value="	CrimeanTatar	">	CrimeanTatar	</option>
<option value="	Croate	">	Croate	</option>
<option value="	Créole	">	Créole	</option>
<option value="	Danois	">	Danois	</option>
<option value="	Dargwa	">	Dargwa	</option>
<option value="	Dari	">	Dari	</option>
<option value="	Dinka	">	Dinka	</option>
<option value="	Dogri	">	Dogri	</option>
<option value="	Dzongkha	">	Dzongkha	</option>
<option value="	Espagnol	">	Espagnol	</option>
<option value="	Espéranto	">	Espéranto	</option>
<option value="	Estonien	">	Estonien	</option>
<option value="	Farsi	">	Farsi	</option>
<option value="	Fiji	">	Fiji	</option>
<option value="	Finlandaise	">	Finlandaise	</option>
<option value="	FinnoUgrian	">	FinnoUgrian	</option>
<option value="	Flamand	">	Flamand	</option>
<option value="	Français	">	Français	</option>
<option value="	FrenchCanadian	">	FrenchCanadian	</option>
<option value="	Frison	">	Frison	</option>
<option value="	Galicien	">	Galicien	</option>
<option value="	Galicienne	">	Galicienne	</option>
<option value="	Gallois	">	Gallois	</option>
<option value="	Grecque	">	Grecque	</option>
<option value="	Groenlandais	">	Groenlandais	</option>
<option value="	Guarani	">	Guarani	</option>
<option value="	Gujarati	">	Gujarati	</option>
<option value="	Gullah	">	Gullah	</option>
<option value="	Géorgien	">	Géorgien	</option>
<option value="	Haoussa	">	Haoussa	</option>
<option value="	Hawaïen	">	Hawaïen	</option>
<option value="	Hindi	">	Hindi	</option>
<option value="	Hmong	">	Hmong	</option>
<option value="	Hokkien	">	Hokkien	</option>
<option value="	Hongroise	">	Hongroise	</option>
<option value="	Hébreu	">	Hébreu	</option>
<option value="	Inconnu	">	Inconnu	</option>
<option value="	Indic	">	Indic	</option>
<option value="	IndoEuropean	">	IndoEuropean	</option>
<option value="	Indonésien	">	Indonésien	</option>
<option value="	Ingouche	">	Ingouche	</option>
<option value="	Interlingua	">	Interlingua	</option>
<option value="	Interlingue	">	Interlingue	</option>
<option value="	Inuktitun	">	Inuktitun	</option>
<option value="	Inupiak	">	Inupiak	</option>
<option value="	Inupiaq	">	Inupiaq	</option>
<option value="	Irlandais	">	Irlandais	</option>
<option value="	Islandais	">	Islandais	</option>
<option value="	Italien	">	Italien	</option>
<option value="	Japonais	">	Japonais	</option>
<option value="	Javanais	">	Javanais	</option>
<option value="	Jula	">	Jula	</option>
<option value="	Kalaallisut	">	Kalaallisut	</option>
<option value="	Kannada	">	Kannada	</option>
<option value="	KarachayBalkar	">	KarachayBalkar	</option>
<option value="	Kazakh	">	Kazakh	</option>
<option value="	Khmer	">	Khmer	</option>
<option value="	Kikuyu	">	Kikuyu	</option>
<option value="	Kinyarwanda	">	Kinyarwanda	</option>
<option value="	Kirghiz	">	Kirghiz	</option>
<option value="	Kirundi	">	Kirundi	</option>
<option value="	Klingon	">	Klingon	</option>
<option value="	Kuanyama	">	Kuanyama	</option>
<option value="	Kurde	">	Kurde	</option>
<option value="	L'inuktitut	">	L'inuktitut	</option>
<option value="	Ladino	">	Ladino	</option>
<option value="	Lao	">	Lao	</option>
<option value="	Lapon	">	Lapon	</option>
<option value="	Latin	">	Latin	</option>
<option value="	Letton	">	Letton	</option>
<option value="	Lingala	">	Lingala	</option>
<option value="	Lituanien	">	Lituanien	</option>
<option value="	Lojban	">	Lojban	</option>
<option value="	LowerSorbian	">	LowerSorbian	</option>
<option value="	Luo	">	Luo	</option>
<option value="	Macédonienne	">	Macédonienne	</option>
<option value="	Maithili	">	Maithili	</option>
<option value="	Malais	">	Malais	</option>
<option value="	Malayalam	">	Malayalam	</option>
<option value="	Malgache	">	Malgache	</option>
<option value="	Maltais	">	Maltais	</option>
<option value="	MandarinChinese	">	MandarinChinese	</option>
<option value="	Maori	">	Maori	</option>
<option value="	Marathi	">	Marathi	</option>
<option value="	Marwari	">	Marwari	</option>
<option value="	Maya	">	Maya	</option>
<option value="	Mende	">	Mende	</option>
<option value="	MiddleEnglish	">	MiddleEnglish	</option>
<option value="	MiddleFrench	">	MiddleFrench	</option>
<option value="	MiddleHighGerman	">	MiddleHighGerman	</option>
<option value="	Mirandais	">	Mirandais	</option>
<option value="	Mohawk	">	Mohawk	</option>
<option value="	Moksha	">	Moksha	</option>
<option value="	Moldave	">	Moldave	</option>
<option value="	Mongo	">	Mongo	</option>
<option value="	Mongol	">	Mongol	</option>
<option value="	Multilingue	">	Multilingue	</option>
<option value="	Nahautl	">	Nahautl	</option>
<option value="	Nauru	">	Nauru	</option>
<option value="	Navaho	">	Navaho	</option>
<option value="	Ndonga	">	Ndonga	</option>
<option value="	Nogaï	">	Nogaï	</option>
<option value="	NorthNdebele	">	NorthNdebele	</option>
<option value="	Norvégien	">	Norvégien	</option>
<option value="	Néerlandaise	">	Néerlandaise	</option>
<option value="	Népalais	">	Népalais	</option>
<option value="	Occitan	">	Occitan	</option>
<option value="	OldEnglish	">	OldEnglish	</option>
<option value="	OldFrench	">	OldFrench	</option>
<option value="	Oriya	">	Oriya	</option>
<option value="	Oromo	">	Oromo	</option>
<option value="	Oudmourtie	">	Oudmourtie	</option>
<option value="	Ouïghoure	">	Ouïghoure	</option>
<option value="	Pashto	">	Pashto	</option>
<option value="	Persan	">	Persan	</option>
<option value="	PigLatin	">	PigLatin	</option>
<option value="	Polonais	">	Polonais	</option>
<option value="	Portugaise	">	Portugaise	</option>
<option value="	Punjabi	">	Punjabi	</option>
<option value="	Quechua	">	Quechua	</option>
<option value="	Rajasthan	">	Rajasthan	</option>
<option value="	Romance	">	Romance	</option>
<option value="	Romanche	">	Romanche	</option>
<option value="	Romani	">	Romani	</option>
<option value="	Roumain	">	Roumain	</option>
<option value="	Ruisseau	">	Ruisseau	</option>
<option value="	Russe	">	Russe	</option>
<option value="	Samaritain	">	Samaritain	</option>
<option value="	Samoa	">	Samoa	</option>
<option value="	Sangho	">	Sangho	</option>
<option value="	Sanskrit	">	Sanskrit	</option>
<option value="	Serbe	">	Serbe	</option>
<option value="	Sesotho	">	Sesotho	</option>
<option value="	Setswana	">	Setswana	</option>
<option value="	Shona	">	Shona	</option>
<option value="	SichuanYi	">	SichuanYi	</option>
<option value="	Signlanguage	">	Signlanguage	</option>
<option value="	Sindhi	">	Sindhi	</option>
<option value="	SinoTibetan	">	SinoTibetan	</option>
<option value="	Siswati	">	Siswati	</option>
<option value="	Slave	">	Slave	</option>
<option value="	Slovakian	">	Slovakian	</option>
<option value="	Slovaque	">	Slovaque	</option>
<option value="	Slovène	">	Slovène	</option>
<option value="	Somali	">	Somali	</option>
<option value="	SorbianLanguages	">	SorbianLanguages	</option>
<option value="	SouthernSotho	">	SouthernSotho	</option>
<option value="	Sumérienne	">	Sumérienne	</option>
<option value="	Sundanais	">	Sundanais	</option>
<option value="	Suédois	">	Suédois	</option>
<option value="	Swahili	">	Swahili	</option>
<option value="	SwissGerman	">	SwissGerman	</option>
<option value="	Syriaque	">	Syriaque	</option>
<option value="	Tagalog	">	Tagalog	</option>
<option value="	Tahiti	">	Tahiti	</option>
<option value="	TaiwaneseChinese	">	TaiwaneseChinese	</option>
<option value="	Tamil	">	Tamil	</option>
<option value="	Tatar	">	Tatar	</option>
<option value="	Tchèque	">	Tchèque	</option>
<option value="	Tchétchène	">	Tchétchène	</option>
<option value="	Telugu	">	Telugu	</option>
<option value="	Thaï	">	Thaï	</option>
<option value="	Tibet	">	Tibet	</option>
<option value="	Tigrinya	">	Tigrinya	</option>
<option value="	Tonga	">	Tonga	</option>
<option value="	Touva	">	Touva	</option>
<option value="	Tsonga	">	Tsonga	</option>
<option value="	Turc	">	Turc	</option>
<option value="	Turkmène	">	Turkmène	</option>
<option value="	Twi	">	Twi	</option>
<option value="	Tzeltal	">	Tzeltal	</option>
<option value="	Ukrainien	">	Ukrainien	</option>
<option value="	Vietnamien	">	Vietnamien	</option>
<option value="	Volapuk	">	Volapuk	</option>
<option value="	Wolof	">	Wolof	</option>
<option value="	Xhosa	">	Xhosa	</option>
<option value="	Yakut	">	Yakut	</option>
<option value="	Yiddish	">	Yiddish	</option>
<option value="	Yoruba	">	Yoruba	</option>
<option value="	Zhuang	">	Zhuang	</option>
<option value="	Zoulou	">	Zoulou	</option>
<option value="	achinese	">	achinese	</option>
<option value="	acoli	">	acoli	</option>
<option value="	adangme	">	adangme	</option>
<option value="	afghan_pashtu	">	afghan_pashtu	</option>
<option value="	afrihili	">	afrihili	</option>
<option value="	afro_asiatic_languages	">	afro_asiatic_languages	</option>
<option value="	ainu	">	ainu	</option>
<option value="	akan	">	akan	</option>
<option value="	akkadian	">	akkadian	</option>
<option value="	aleut	">	aleut	</option>
<option value="	algonquian_languages	">	algonquian_languages	</option>
<option value="	altaic_languages	">	altaic_languages	</option>
<option value="	american_sign_language	">	american_sign_language	</option>
<option value="	angika	">	angika	</option>
<option value="	apache_languages	">	apache_languages	</option>
<option value="	aragonese	">	aragonese	</option>
<option value="	arapaho	">	arapaho	</option>
<option value="	arawak	">	arawak	</option>
<option value="	aromanian	">	aromanian	</option>
<option value="	artificial_languages	">	artificial_languages	</option>
<option value="	asturian	">	asturian	</option>
<option value="	athapascan_languages	">	athapascan_languages	</option>
<option value="	australian_languages	">	australian_languages	</option>
<option value="	avaric	">	avaric	</option>
<option value="	avestan	">	avestan	</option>
<option value="	baltic_languages	">	baltic_languages	</option>
<option value="	baluchi	">	baluchi	</option>
<option value="	bamileke_languages	">	bamileke_languages	</option>
<option value="	banda_languages	">	banda_languages	</option>
<option value="	basa	">	basa	</option>
<option value="	beja	">	beja	</option>
<option value="	bemba	">	bemba	</option>
<option value="	bikol	">	bikol	</option>
<option value="	bini	">	bini	</option>
<option value="	blin	">	blin	</option>
<option value="	bliss	">	bliss	</option>
<option value="	bodo	">	bodo	</option>
<option value="	buginese	">	buginese	</option>
<option value="	caddo	">	caddo	</option>
<option value="	caucasian_languages	">	caucasian_languages	</option>
<option value="	cebuano	">	cebuano	</option>
<option value="	celtic_languages	">	celtic_languages	</option>
<option value="	central_american_indian_languages	">	central_american_indian_languages	</option>
<option value="	chamic_languages	">	chamic_languages	</option>
<option value="	chamorro	">	chamorro	</option>
<option value="	cherokee	">	cherokee	</option>
<option value="	chhattisgarhi	">	chhattisgarhi	</option>
<option value="	chibcha	">	chibcha	</option>
<option value="	chichewa	">	chichewa	</option>
<option value="	chinook_jargon	">	chinook_jargon	</option>
<option value="	chipewyan	">	chipewyan	</option>
<option value="	choctaw	">	choctaw	</option>
<option value="	chuukese	">	chuukese	</option>
<option value="	chuvash	">	chuvash	</option>
<option value="	classical_syriac	">	classical_syriac	</option>
<option value="	coptic	">	coptic	</option>
<option value="	cree	">	cree	</option>
<option value="	cushitic_languages	">	cushitic_languages	</option>
<option value="	dakota	">	dakota	</option>
<option value="	delaware	">	delaware	</option>
<option value="	dhivehi	">	dhivehi	</option>
<option value="	dogrib	">	dogrib	</option>
<option value="	dravidian_languages	">	dravidian_languages	</option>
<option value="	duala	">	duala	</option>
<option value="	eastern_frisian	">	eastern_frisian	</option>
<option value="	efik	">	efik	</option>
<option value="	egyptian	">	egyptian	</option>
<option value="	ekajuk	">	ekajuk	</option>
<option value="	elamite	">	elamite	</option>
<option value="	erzya	">	erzya	</option>
<option value="	ewe	">	ewe	</option>
<option value="	ewondo	">	ewondo	</option>
<option value="	fang	">	fang	</option>
<option value="	fanti	">	fanti	</option>
<option value="	faroese	">	faroese	</option>
<option value="	filipino	">	filipino	</option>
<option value="	fon	">	fon	</option>
<option value="	french_creole	">	french_creole	</option>
<option value="	friulian	">	friulian	</option>
<option value="	fulah	">	fulah	</option>
<option value="	ga	">	ga	</option>
<option value="	gaelic_scots	">	gaelic_scots	</option>
<option value="	gahrwali	">	gahrwali	</option>
<option value="	galibi_carib	">	galibi_carib	</option>
<option value="	ganda	">	ganda	</option>
<option value="	garo	">	garo	</option>
<option value="	gayo	">	gayo	</option>
<option value="	gbaya	">	gbaya	</option>
<option value="	geez	">	geez	</option>
<option value="	germanic_languages	">	germanic_languages	</option>
<option value="	gilbertese	">	gilbertese	</option>
<option value="	gondi	">	gondi	</option>
<option value="	gorontalo	">	gorontalo	</option>
<option value="	gothic	">	gothic	</option>
<option value="	grebo	">	grebo	</option>
<option value="	gwichin	">	gwichin	</option>
<option value="	haida	">	haida	</option>
<option value="	haitian	">	haitian	</option>
<option value="	haryanvi	">	haryanvi	</option>
<option value="	herero	">	herero	</option>
<option value="	hiligaynon	">	hiligaynon	</option>
<option value="	himachali_languages	">	himachali_languages	</option>
<option value="	hiri_motu	">	hiri_motu	</option>
<option value="	hittite	">	hittite	</option>
<option value="	hupa	">	hupa	</option>
<option value="	iban	">	iban	</option>
<option value="	ido	">	ido	</option>
<option value="	igbo	">	igbo	</option>
<option value="	ijo_languages	">	ijo_languages	</option>
<option value="	iloko	">	iloko	</option>
<option value="	inari_sami	">	inari_sami	</option>
<option value="	iranian_languages	">	iranian_languages	</option>
<option value="	iroquoian_languages	">	iroquoian_languages	</option>
<option value="	judeo_arabic	">	judeo_arabic	</option>
<option value="	judeo_persian	">	judeo_persian	</option>
<option value="	kabardian	">	kabardian	</option>
<option value="	kabyle	">	kabyle	</option>
<option value="	kachin	">	kachin	</option>
<option value="	kalmyk	">	kalmyk	</option>
<option value="	kamba	">	kamba	</option>
<option value="	kanuri	">	kanuri	</option>
<option value="	kara_kalpak	">	kara_kalpak	</option>
<option value="	karelian	">	karelian	</option>
<option value="	karen_languages	">	karen_languages	</option>
<option value="	kashubian	">	kashubian	</option>
<option value="	kawi	">	kawi	</option>
<option value="	khasi	">	khasi	</option>
<option value="	khoisan_languages	">	khoisan_languages	</option>
<option value="	khotanese	">	khotanese	</option>
<option value="	kimbundu	">	kimbundu	</option>
<option value="	kokborok	">	kokborok	</option>
<option value="	komi	">	komi	</option>
<option value="	kongo	">	kongo	</option>
<option value="	konkani	">	konkani	</option>
<option value="	kosraean	">	kosraean	</option>
<option value="	kpelle	">	kpelle	</option>
<option value="	kru_languages	">	kru_languages	</option>
<option value="	kumaoni	">	kumaoni	</option>
<option value="	kumyk	">	kumyk	</option>
<option value="	kurukh	">	kurukh	</option>
<option value="	kutenai	">	kutenai	</option>
<option value="	lahnda	">	lahnda	</option>
<option value="	lamba	">	lamba	</option>
<option value="	land_dayak_languages	">	land_dayak_languages	</option>
<option value="	latin_spanish	">	latin_spanish	</option>
<option value="	lezghian	">	lezghian	</option>
<option value="	limburgan	">	limburgan	</option>
<option value="	low_german	">	low_german	</option>
<option value="	lozi	">	lozi	</option>
<option value="	luba_katanga	">	luba_katanga	</option>
<option value="	luba_lulua	">	luba_lulua	</option>
<option value="	luiseno	">	luiseno	</option>
<option value="	lule_sami	">	lule_sami	</option>
<option value="	lunda	">	lunda	</option>
<option value="	lushai	">	lushai	</option>
<option value="	luxembourgish	">	luxembourgish	</option>
<option value="	madurese	">	madurese	</option>
<option value="	magahi	">	magahi	</option>
<option value="	makasar	">	makasar	</option>
<option value="	manchu	">	manchu	</option>
<option value="	mandar	">	mandar	</option>
<option value="	mandingo	">	mandingo	</option>
<option value="	manipuri	">	manipuri	</option>
<option value="	manobo_languages	">	manobo_languages	</option>
<option value="	manx	">	manx	</option>
<option value="	mapudungun	">	mapudungun	</option>
<option value="	mari	">	mari	</option>
<option value="	marshallese	">	marshallese	</option>
<option value="	masai	">	masai	</option>
<option value="	micmac	">	micmac	</option>
<option value="	middle_dutch	">	middle_dutch	</option>
<option value="	middle_irish	">	middle_irish	</option>
<option value="	minangkabau	">	minangkabau	</option>
<option value="	mizo	">	mizo	</option>
<option value="	mon_khmer_languages	">	mon_khmer_languages	</option>
<option value="	mossi	">	mossi	</option>
<option value="	munda_languages	">	munda_languages	</option>
<option value="	neapolitan	">	neapolitan	</option>
<option value="	nepal_bhasa	">	nepal_bhasa	</option>
<option value="	nias	">	nias	</option>
<option value="	niger_kordofanian_languages	">	niger_kordofanian_languages	</option>
<option value="	nilo_saharan_languages	">	nilo_saharan_languages	</option>
<option value="	niuean	">	niuean	</option>
<option value="	nko	">	nko	</option>
<option value="	none	">	none	</option>
<option value="	north_american_indian_languages	">	north_american_indian_languages	</option>
<option value="	northern_frisian	">	northern_frisian	</option>
<option value="	northern_sami	">	northern_sami	</option>
<option value="	norwegian_bokmal	">	norwegian_bokmal	</option>
<option value="	norwegian_nynorsk	">	norwegian_nynorsk	</option>
<option value="	nubian_languages	">	nubian_languages	</option>
<option value="	nyamwezi	">	nyamwezi	</option>
<option value="	nyankole	">	nyankole	</option>
<option value="	nyoro	">	nyoro	</option>
<option value="	nzima	">	nzima	</option>
<option value="	ojibwa	">	ojibwa	</option>
<option value="	old_high_german	">	old_high_german	</option>
<option value="	old_irish	">	old_irish	</option>
<option value="	old_norse	">	old_norse	</option>
<option value="	old_persian	">	old_persian	</option>
<option value="	old_provencal	">	old_provencal	</option>
<option value="	old_slavonic	">	old_slavonic	</option>
<option value="	osage	">	osage	</option>
<option value="	ossetian	">	ossetian	</option>
<option value="	otomian_languages	">	otomian_languages	</option>
<option value="	ottoman_turkish	">	ottoman_turkish	</option>
<option value="	pahlavi	">	pahlavi	</option>
<option value="	palauan	">	palauan	</option>
<option value="	pali	">	pali	</option>
<option value="	pampanga	">	pampanga	</option>
<option value="	pangasinan	">	pangasinan	</option>
<option value="	papiamento	">	papiamento	</option>
<option value="	papuan_languages	">	papuan_languages	</option>
<option value="	pedi	">	pedi	</option>
<option value="	philippine_languages	">	philippine_languages	</option>
<option value="	phoenician	">	phoenician	</option>
<option value="	pohnpeian	">	pohnpeian	</option>
<option value="	portuguese_brazilian	">	portuguese_brazilian	</option>
<option value="	portuguese_creole	">	portuguese_creole	</option>
<option value="	prakrit_languages	">	prakrit_languages	</option>
<option value="	rapanui	">	rapanui	</option>
<option value="	rarotongan	">	rarotongan	</option>
<option value="	salishan_languages	">	salishan_languages	</option>
<option value="	sami	">	sami	</option>
<option value="	sandawe	">	sandawe	</option>
<option value="	santali	">	santali	</option>
<option value="	sardinian	">	sardinian	</option>
<option value="	sasak	">	sasak	</option>
<option value="	scots	">	scots	</option>
<option value="	scots_gaelic	">	scots_gaelic	</option>
<option value="	selkup	">	selkup	</option>
<option value="	semitic_languages	">	semitic_languages	</option>
<option value="	serbo-croatian	">	serbo-croatian	</option>
<option value="	serer	">	serer	</option>
<option value="	shan	">	shan	</option>
<option value="	sicilian	">	sicilian	</option>
<option value="	sidamo	">	sidamo	</option>
<option value="	siksika	">	siksika	</option>
<option value="	siouan_languages	">	siouan_languages	</option>
<option value="	skolt_sami	">	skolt_sami	</option>
<option value="	slave_athapascan	">	slave_athapascan	</option>
<option value="	sogdian	">	sogdian	</option>
<option value="	songhai_languages	">	songhai_languages	</option>
<option value="	soninke	">	soninke	</option>
<option value="	south_american_indian	">	south_american_indian	</option>
<option value="	south_ndebele	">	south_ndebele	</option>
<option value="	southern_altai	">	southern_altai	</option>
<option value="	southern_sami	">	southern_sami	</option>
<option value="	sranan_tongo	">	sranan_tongo	</option>
<option value="	sukuma	">	sukuma	</option>
<option value="	susu	">	susu	</option>
<option value="	tai_languages	">	tai_languages	</option>
<option value="	tajik	">	tajik	</option>
<option value="	tamashek	">	tamashek	</option>
<option value="	tereno	">	tereno	</option>
<option value="	tetum	">	tetum	</option>
<option value="	tigre	">	tigre	</option>
<option value="	timne	">	timne	</option>
<option value="	tiv	">	tiv	</option>
<option value="	tlingit	">	tlingit	</option>
<option value="	tok_pisin	">	tok_pisin	</option>
<option value="	tokelau	">	tokelau	</option>
<option value="	tonga_nyasa	">	tonga_nyasa	</option>
<option value="	tsimshian	">	tsimshian	</option>
<option value="	tulu	">	tulu	</option>
<option value="	tumbuka	">	tumbuka	</option>
<option value="	tupi_languages	">	tupi_languages	</option>
<option value="	tuvalu	">	tuvalu	</option>
<option value="	ugaritic	">	ugaritic	</option>
<option value="	ukrainian	">	ukrainian	</option>
<option value="	umbundu	">	umbundu	</option>
<option value="	unqualified	">	unqualified	</option>
<option value="	upper_sorbian	">	upper_sorbian	</option>
<option value="	urdu	">	urdu	</option>
<option value="	uzbek	">	uzbek	</option>
<option value="	vai	">	vai	</option>
<option value="	venda	">	venda	</option>
<option value="	votic	">	votic	</option>
<option value="	wakashan_languages	">	wakashan_languages	</option>
<option value="	walamo	">	walamo	</option>
<option value="	walloon	">	walloon	</option>
<option value="	waray	">	waray	</option>
<option value="	washo	">	washo	</option>
<option value="	yao	">	yao	</option>
<option value="	yapese	">	yapese	</option>
<option value="	yugoslavian	">	yugoslavian	</option>
<option value="	yupik_languages	">	yupik_languages	</option>
<option value="	zande_languages	">	zande_languages	</option>
<option value="	zapotec	">	zapotec	</option>
<option value="	zaza	">	zaza	</option>
<option value="	zenaga	">	zenaga	</option>
<option value="	zuni	">	zuni	</option>
			
			
			
			</select>
			<span class="text-danger" th:errors="*{liv.langage}"></span>	
		</div>
		<div class="form-group">
			<label class="control-label">Volume:</label>
			<input type="text" th:field="*{liv.volume}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.volume}"></span>
		</div>
	</div>
	</div>
	</div>
	

<!-- <div th:if="${liv.class.simpleName == 'Abebook'}"> -->
<div class="col-md-3 col-sm-3 col-xs-12">
	<div class="panel panel-default ">
	<div class="panel-heading">Abebook</div>
	<div class="panel-body">
		<div class="form-group required">
			<label class="control-label requiredFiel">Sujet:</label>
			<input type="text" th:field="*{liv.subject}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.subject}"></span>
		</div>
		<div class="form-group required">
			<label class="control-label">Reliure:</label>
			<input type="text" th:field="*{liv.binding}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.binding}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Couverture:</label>
			<input type="checkbox" th:field="*{liv.dustJacket}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.dustJacket}"></span>	
		</div>
		<div class="form-group">
			<label class="control-label">Catalogue:</label>
			<input type="text" th:field="*{liv.booksellerCatalogue}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.booksellerCatalogue}"></span>
		</div>
		<div class="form-group required">
			<label class="control-label">Taille:</label>
			<input type="text" th:field="*{liv.size}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.size}"></span>
		</div>
		<div class="form-group required">
			<label class="control-label">Etat de la couverture:</label>
			<input type="text" th:field="*{liv.jacketCondition}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.jacketCondition}"></span>	
		</div>
				<div class="form-group required">
			<label class="control-label">Type de livre:</label>
			<input type="text" th:field="*{liv.bookType}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.bookType}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Lieu de publication:</label>
			<input type="text" th:field="*{liv.publishPlace}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.publishPlace}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Dedicace:</label>
			<input type="text" th:field="*{liv.inscriptionType}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.inscriptionType}"></span>	
		</div>
		<div class="form-group">
			<label class="control-label">Type de produit:</label>
			<input type="text" th:field="*{liv.producttype}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.producttype}"></span>
		</div>
				<div class="form-group">
			<label class="control-label">Signé:</label>
			<input type="checkbox" th:field="*{liv.signed}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.signed}"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Edition:</label>
			<input type="text" th:field="*{liv.edition}" class="form-control"/>
			<span class="text-danger" th:errors="*{liv.edition}"></span>	
		</div>
	</div>
	</div>
</div>
<button type="submit" class="btn btn-primary">Save</button>
		</form>

</body>
</html>